
/*
@media only screen and (min-width: 479px) and (max-width: 1285px) and (orientation: landscape) {
	.greeting h1 {
		font-size: 40px;
	}
	.greeting input {
		height: 35px;
		margin: 15px 8px 0px 8px;
	}
	.greeting h4 {
    	margin-top: 5px;
    	font-size: 16px;
    	color: #79818d;
	}
	nav {
    	height: 40px;
    	width: 100%;
	}
	.logo a{
    	line-height: 40px;
    	font-size: 24px;   
	}
	.menu li {
    line-height: 40px;
	}
}



@media (max-width: 562px) {
	nav {
    	height: 40px;
    	width: 100%;
	}
	.logo a{
    	line-height: 40px;
    	font-size: 24px;   
	}
}


@media (max-width: 991px){
	.greeting {
    float: left;
    text-align: center;
    width: 100%;
   -webkit-animation: greetingmove 1s ease forwards;
    -o-animation: greetingmove 1s ease forwards;
    animation: greetingmove 1s ease forwards;
    -webkit-animation-delay: 1.0s;
    -o-animation-delay: 1.0s;
    animation-delay: 1.0s; 
    opacity: 0;
	}
     .greeting, .greeting h1, .greeting h4, .greeting input {
        color: white;
        position: relative;
        z-index: 1;
    }

    .greeting input {
       border: 2px solid #fff;
    }

    
    .main1 {
    	position: relative;
    }
    .main1::after{ 
    	content: "";
    	bottom: 0;
    	top: 0;
    	left: 0;
    	right: 0;
    	position: absolute;
    	background: rgba(0,0,0,0.4)
    }
    .col-5 {
	height: 40px;
	}
}

@media (max-width: 479px) {
	.greeting h1 {
		font-size: 60px;
	}
	.greeting input {
		height: 35px;
		margin: 15px 8px 0px 8px;
	}
	.greeting h4 {
    	margin-top: 5px;
    	font-size: 24px;
    	color: #fff;
	}
} 


@media (max-width: 364px) {
	.logo a{
    	line-height: 35px;
    	font-size: 18px;   
	}
	nav {
    	height: 35px;
    	width: 100%;
	}
	.white-btn {
	font-size: 10px;
	}
	.col-5 {
	height: 35px;
	}
}


@media (max-width: 991px) {
	.col1_2 {
		height: 150px;
	}
	.col1_2 h2 {
		line-height: 150px;
	}

}

@media (max-width: 767px) {
	.col3_2 {
		height: 120px;
	}
	.col4_2 {
		height: 120px;
	}
}

@media (max-width: 575px){
	.col2_2 {
		width: 150px;
		height: 150px;
		flex-basis: 150px;
	}
	.col3_2 {
		height: 140px;
	}
	.col4_2 {
		height: 140px;
	}
	.col5_2 {
		line-height: 60px;
	}
}


@media (max-width: 991px) {
	.row_block3_1 {
		max-height: 150px;
	}
	.col1_3 h2 {
		line-height: 150px;
	}
	.row_block3_2 h3{
    	line-height: 25px;
    	margin-top: 15px;
	}
	.main3 {
    	height: 422px;
	}
}

@media (max-width: 767px) {
	.main3 {
    	height: 535px;
	}
	.row_block3_1 {
		max-height: 100px;
	}
	.col1_3 h2 {
		line-height: 100px;
	}
	.col1_3 h2 {
		background: url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png) 50% 90%/72px 4px no-repeat;
	}
	.row_block3_2 div {
		display: none;
	}
	.row_block3_3 h3{
		margin-top: 10px;
		color: #cf7600;
    	font-weight: bold;
    	line-height: 25px;
    	font-size: 18px;
	}
	.row_block3_4 h3{
		margin-top: 10px;
		color: #cf7600;
    	font-weight: bold;
    	line-height: 25px;
    	font-size: 18px;
	}
	.row_block3_3 {
		text-align: center;
		display: flex;
		
	}
	.row_block3_4 {
		text-align: center;
		display: flex;
		
	}
	.row_block3_3 p {
		line-height: 18px;
    	font-size: 16px;
    	color: #3f495a;
    	text-align: center;
    	padding-left: 5px; 
    	padding-right: 5px;
	}
	.row_block3_4 p {
		line-height: 18px;
    	font-size: 16px;
    	color: #3f495a;
    	text-align: center;
    	padding-left: 5px; 
    	padding-right: 5px;
	}
	.row_block3_3 div:hover {
    	transform: scale(1.1);
	}

	.row_block3_3 div:active {
    	transform: scale(1.2);
	}

	.row_block3_3 div {
		transition: transform 0.2s !important;
    	transform: scale(1);
	}
	.row_block3_4 div:hover {
    	transform: scale(1.1);
	}

	.row_block3_4 div:active {
    	transform: scale(1.2);
	}

	.row_block3_4 div {
		transition: transform 0.2s !important;
    	transform: scale(1);
	}
}

@media (max-width: 575px) {
	.row_block3_2 div {
		display: none;
	}
	.row_block3_3 div {
		display: none;
	}
	.row_block3_4 div {
		display: none;
	}
	.row_block3_5 h3{
		margin-top: 10px;
		color: #cf7600;
    	font-weight: bold;
    	line-height: 25px;
    	font-size: 18px;
	}
	.row_block3_5 {
		text-align: center;
	}
	.row_block3_5 div:hover {
    	transform: scale(1.1);
	}

	.row_block3_5 div:active {
    	transform: scale(1.2);
	}

	.row_block3_5 div {
		transition: transform 0.2s !important;
    	transform: scale(1);
	}
	.main3 {
		height: 722px;
	}
}

@media (max-width: 452px) {
	.main3 {
    	height: 760px;
	}
}

@media (max-width: 338px) {
	.main3 {
    	height: 860px;
	}
}

@media (max-width: 575px) {
	.col1_4 p {
		height: 40px;
    	padding-top: 10px;
    	height: 70px;
    	font-size: 12px;
    	line-height: 14px;
	}	
}

@media (max-width: 357px) {
	.col1_4 p {
    	padding-top: 10px;
	}
}

@media (max-width: 1399px) {
	.main4 {
    height: 1080px;
	}
}

@media (max-width: 1199px) {
	.main4 {
    height: 970px;
	}
}

@media (max-width: 991px) {
	.main4 {
    height: 850px;
	}
}

@media (max-width: 767px) {
	.row_block4_2 {
	height: 160px;
	padding-top: 30px;
	}
	.main4 {
    height: 650px;
	}
	.col3_4 h4 {
    	font-size: 12px;
    	line-height: 20px;
	}
	.col3_4 h3 {
    	font-size: 16px;
    	line-height: 18px;
	}
	.col4_4 h3 {
		font-size: 16px;
	}
	.col4_4 p {
		font-size: 12px;
    	line-height: 14px;
	}
	.col3_4 input {
		width: 150px;
		height: 36px;
		font-size: 14px;
	}
}

@media (max-width: 575px) {
	.col3_4 h4 {
    	font-size: 10px;
    	line-height: 18px;
	}
	.col3_4 h3 {
    	font-size: 14px;
    	line-height: 16px;
	}
	.col4_4 h3 {
		font-size: 14px;
	}
	.col4_4 p {
		font-size: 10px;
    	line-height: 14px;
	}
	.col3_4 input {
		width: 120px;
		height: 32px;
		font-size: 12px;
	}
}

@media (max-width: 440px) {
	.row_block4_2 {
	height: 150px;
	padding-top: 30px;
	}
	.main4 {
    height: 600px;
	}
	.col3_4 h4 {
    	font-size: 8px;
    	line-height: 16px;
	}
	.col3_4 h3 {
    	font-size: 12px;
    	line-height: 14px;
	}
	.col4_4 h3 {
		font-size: 12px;
	}
	.col4_4 p {
		font-size: 8px;
    	line-height: 10px;
	}
	.col3_4 input {
		width: 100px;
		height: 26px;
		font-size: 10px;
	}
}

@media (max-width: 350px) {
	.col3_4 h4 {
    	font-size: 6px;
    	line-height: 14px;
	}
	.col3_4 h3 {
    	font-size: 12px;
    	line-height: 14px;
	}
	.col4_4 h3 {
		font-size: 12px;
		line-height: 14px;
	}
	.col4_4 p {
		font-size: 8px;
    	line-height: 8px;
	}
	.col3_4 input {
		width: 80px;
		height: 24px;
		font-size: 10px;
	}
}

@media (max-width: 350px) {
	.main4 {
    height: 500px;
	}
}

@media (max-width: 991px) {
	.col1_5 h2{
    	font-size: 30px;
	}
	.row_block5 select {
    	padding: 0px 10px 0px 10px;
	}
}

@media (max-width: 575px) {
	.col1_5 h2{
    font-size: 25px;
	}
}

@media (max-width: 357px) {
	.col1_5 h2{
    font-size: 20px;
	}
}

@media (max-width: 440px) {
	.main5 {
    padding-top: 0px;
    padding-bottom: 20px;
	}
}

@media (max-width: 575px) {
	.row_block6_2 {
    	display: none;
	}
	.col1_6 h2 {
		line-height: 140px;
		font-size: 22px;
	}
	.main6 {
    	height: 622px;
	}

	.row_block6_3{
		display: flex;
		text-align: center;
		justify-content: center;
	}

	.row_block6_3 div:hover {
    	transform: scale(1.1);
	}

	.row_block6_3 div:active {
    	transform: scale(1.2);
	}

	.row_block6_3 div {
		transition: transform 0.2s !important;
    	transform: scale(1);
	}

	.row_block6_3 h2 {
		line-height: 35px;
    	font-size: 32px;
    	color: #283c4f;
    	text-align: center;
    	font-weight: 900;
	}
	.row_block6_3 h3 {
		color: #283c4f;
    	font-weight: 500;
    	line-height: 24px;
    	font-size: 16px;
    	text-align: center;
	}
	.row_block6_3 img {
		height: 42px;

	}
	.col1_6 h2 {
		line-height: 100px;
	}
}

@media (max-width: 575px) {
	.main7 {
    	height: 500px;
	}
	.col2_7 {
		width: 150px;
		height: 201px;
		flex-basis: 150px;
	}
	.col1_7 h2 {
		line-height: 112px;
	}
	.col2_7 img:hover {
    transform: scale(1.2);
	}
}

@media (max-width: 449px) {
	.main7 {
    	height: 550px;
	}
}


@media (max-width: 767px) {
	.col10_8 input {
    width: 70%;
	}
}

@media (max-width: 479px) {
	.col10_8 input {
    width: 80%;
	}
	.col1_8 h2 {
	line-height: 110px;
	text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background: url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png) 50% 90%/72px 4px no-repeat;
	}
}

@media (max-width: 380px) {
	.col10_8 input {
    width: 100%;
	}
}

@media (max-width: 767px) {
	.col2_9 {
    	height: 40px;
	}
	.col2_9 h4 {
    	font-size: 10px;
    	line-height: 40px;
	}
}

@media (max-width: 499px) {
	.col2_9 {
    	height: 30px;
	}
	.col2_9 h4 {
    	font-size: 8px;
    	line-height: 30px;
	}
}

*/