
@font-face {
    font-family: 'FranklinGot';
    src: url('../fonts/framd.eot');
    src: local('☺'), url('../fonts/framd.woff') format('woff'), url('../fonts/framd.ttf') format('truetype'), url('../fonts/framd.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Весь_макет*/
body {
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
}
/*Верхнее_меню*/
nav {
    width: 100%;
    height: 80px;
    background-color:#272727;
    z-index: 2;
	
}

.navigation {
	height: 80px;
}
/*Иван_Мочалов*/
.logo a{
    line-height: 80px;
    transition: all 0.1s;
    transform: scale(1);
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
    font-family: 'FranklinGot', sans-serif;
}

.logo a:hover {
    transform: scale(1.1);
}

.logo a:active {
    transform: scale(1.5);
}



/*Разделы_меню*/
.menu {
    float: left;
}

.menu li {
    float: left;
    line-height: 80px;
    color: #fff;
    margin: 0px 18px;
    font-size: 20px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}

.menu li a {
    transition: all 0.1s;
    color: #fff;
    transform: scale(1);
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
}

.menu li a:hover {
    color: #ffad42;
    transform: scale(1.1);
}

.menu li a:active {
    transform: scale(1.5);
}

.menu li:nth-child(2) {
    animation-delay: 0.4s;
}

.menu li:nth-child(3) {
    animation-delay: 0.8s;
}

.menu li:nth-child(4) {
    animation-delay: 1.2s;
}

.menu li:nth-child(5) {
    animation-delay: 1.6s;
}

.menu li:nth-child(6) {
    animation-delay: 2.0s;
}
/*Верхнее_меню_для_меньших_разрешений*/
.dropdown {
    line-height: 30px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-animation: comming 2s ease forwards;
    -o-animation: comming 2s ease forwards;
    animation: comming 2s ease forwards;
    -webkit-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
    opacity: 0;
}
/*Поле_первого_блока*/
.main1 {
    height: 100%;
    width: 100%;
	background: url(../img/main_bg8.png)  50%/cover no-repeat;
	
}

/*Колесо_загрузки*/
.loader {
    display: inline-block;
    border: 8px solid #b9cbfd;
    border-top: 8px solid #f88e01;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 15%;
    left: calc(50% - 30px);
    z-index: 1;
}


/*Первый_блок*/
.title__container1 {
    width: 100%;
    height: 100%;
}
/*Я_Иван_Мочалов*/

.greeting {
    text-align: center;
    width: 100%;
}

.greeting {
    text-align: center;
    width: 100%;
   -webkit-animation: greetingmove 1s ease forwards;
    -o-animation: greetingmove 1s ease forwards;
    animation: greetingmove 1s ease forwards;
    -webkit-animation-delay: 1.0s;
    -o-animation-delay: 1.0s;
    animation-delay: 1.0s; 
    opacity: 0;
}

.greeting h1 {
    font-family: Arial, sans-serif;
    font-size: 75px;
    font-weight: 600;
    color: #2a2a2a;
	height: 90px;
}

.greeting p {
	height: 80px;
	align-items: center;
	display: flex;
	justify-content: center;
}

.greeting_row .blc {
	font-family: Arial, sans-serif;
    font-size: 75px;
    font-weight: 600;
    color: #2a2a2a;
}

.greeting_row  .abc {
    font-family: Arial, sans-serif;
    font-size: 75px;
    font-weight: 600;
    color: #ff9100;
}

.slider0 .draggable {
	padding-top: 0px;
} 
	


.slider0{
	position: relative;
	min-width: 0;
	padding: 0px 60px;
}
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slider0 .slick-track{
	display: flex;
}

.slider0 .slider_item {
	opacity: 0.1;
	transition: all 0.3s ease 0.3s;
}
.slider0 .slider_item.slick-center {
	opacity: 1;
}

.greeting input {
    height: 55px;
    text-align: center;
    border: 2px solid #272727;
    background: none;
    border-radius: 5px;
    color: #272727;
    font-size: 22px;
    padding: 0px 13px;
    margin: 30px 13px 0px 13px;
}



.greeting input {
    transition: all 0.1s;
    transform: scale(1);
}

.greeting input:hover {
    background-color: #484848;
    color: #ddc5a2;
}

.greeting input:active {
    transform: scale(1.1);
	transition: 0.1s !important;
}



/*Верхнее_меню_для_меньших_разрешений*/
.white-btn {
	color: white;
}

/* ОБО МНЕ*/
.main2 {
    height: 950px;
    width: 100%;
	background-color: #fff;
}

.row_block2 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.col1_2 {
	height: 225px;
}

.col1_2 h2 {
	font-family: inherit;
	font-weight: 800;
	color: #484848;
	font-size: 30px;
	letter-spacing: 2px;
	line-height: 225px;
	text-align: center;
	background: url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png) 50% 70%/72px 4px no-repeat;
}

.col2_2 {
	width: 200px;
	height: 200px;
	flex-basis: 200px;
}

.col2_2 img {
	height: 200px;
	width: 200px;
	transition: transform 0.2s;
    transform: scale(1);
	border-radius: 50%;
	background: #e0e0e0;
	box-shadow:  20px 20px 30px #b3b3b3,
				 -20px -20px 30px #ffffff;
}

.col2_2 img:hover {
    transform: scale(1.1);
}


.col3_2 p {
	line-height: 26px;
	text-align: justify;
	font-size: 22px;
	color: #484848;
	word-spacing: 0.1em;
}

.col3_2 {
	height: 160px;
}

.col4_2 p {
	line-height: 28px;
	text-align: justify;
	font-size: 22px;
	color: #484848;
	word-spacing: 0.1em;
}

.col4_2 {
	height: 160px;
}

.p_form p {
	line-height: 28px;
	text-decoration: underline;
	text-align: center;
	font-weight: 600;
	font-size: 22px;
	color: #ff9100;
	word-spacing: 0.1em;
}

.col5_2 {
	text-align: center;
	
}

.col5_2 input {
	border: 2px solid #003B46;
    border-radius: 5px;
    background: none;
    width: 220px;
    line-height: 50px;
    font-size: 20px;
    background: url(../img/download_pdf_dark.png) 92% 45% / auto 60% no-repeat;
    padding-right: 30px;
    color: #272727;
    transform: scale(1);
}

.col5_2 input:hover {
    background: url(../img/download_pdf.png) 92% 45% / auto 60% no-repeat, #484848;
    color: #ddc5a2;
    
}

.col5_2 input:active {
    transform: scale(1.1);
	transition: all 0.1s !important;
    
}

/* УСЛУГИ*/
.main3 {
	width: 100%;
    height: 600px;
	background: url(../img/bg_my_skills.png) center/cover no-repeat;
	background-attachment: fixed;

}

.row_block3_1{
	display: flex;
	justify-content: center;
}

.row_block3_2{
	display: flex;
	text-align: center;
}

.row_block3_2 img{
	max-width: 55px;
	max-height: 55px;
}

.row_block3_3 img{
	max-width: 55px;
	max-height: 55px;
}

.row_block3_4 img{
	max-width: 55px;
	max-height: 55px;
}

.row_block3_5 img{
	max-width: 55px;
	max-height: 55px;
}

.row_block3_2 div:hover {
    transform: scale(1.1);
}

.row_block3_2 div:active {
    transform: scale(1.2);
}

.row_block3_2 div {
	transition: transform 0.2s !important;
    transform: scale(1);
}

.col1_3 h2 {
	font-family: inherit;
	font-weight: 800;
	color: #484848;
	letter-spacing: 2px;
	line-height: 225px;
	font-size: 30px;
	line-height: 225px;
	text-align: center;
	background: url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png) 50% 70%/72px 4px no-repeat;
}

.row_block3_2 h3{
	margin-top: 25px;
	color: #cf7600;
    font-weight: bold;
    line-height: 42px;
    font-size: 22px;
}

.row_block3_2 p {
	margin-left: 10%;
	max-width: 80%;
    line-height: 22px;
    font-size: 18px;
    color: #484848;
    text-align: center;
    padding-left: 5px; 
    padding-right: 5px;
	position: fixed;
}

/* КЕЙСЫ*/
.main4 {
    width: 100%;
    height: 950px;
	background-color: #fff;
}

.row_block4_1 {
	min-width: 0;
}

.slider1{
	position: relative;
	min-width: 0;
	padding: 0px 60px;
}
.slick-list {
	overflow: hidden;
}

.draggable {
	padding-top: 10px;
}
/* Лента слайдов */
.slider1 .slick-track{
	display: flex;
	align-items: flex-start;
}

.slider1_1 .slick-track{
	display: flex;
	align-items: flex-start;
}

.slider1 .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -20px 0px 0px 0px;
	z-index: 10;
	width: 50px;
	font-size: 0;
	height: 50px;
	transition: transform 0.3s;
}
.slider1 .slick-arrow:active{
	transform: scale(1.3);
}

.slider1 .slick-arrow.slick-prev{
	left: 0;
	background: url('../img/left.png') 0 0 / 100% no-repeat;
}

.slider1 .slick-arrow.slick-next{
	right: 0;
	background: url('../img/right.png') 0 0 / 100% no-repeat;
}

.slider1 .slick-arrow.slick-disabled{
	opacity: 0.3;
}

.col1_4 h2 {
	font-family: inherit;
	font-weight: 800;
	color: #484848;
	letter-spacing: 2px;
	line-height: 125px;
	font-size: 30px;
	text-align: center;
    background: url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png) bottom/72px 4px no-repeat;
}

.col1_4 p {
	line-height: 22px;
    font-size: 18px;
    color: #484848;
    text-align: center;
    height: 50px;
}



.col2_4 img{
    width: 100%;;
}

.row_block4_2 {
	height: 260px;
	padding-top: 20px;
}

.col3_4 h3 {
    color: #384354;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
}

.col3_4 h4 {
    font-size: 18px;
    color: #484848;
    line-height: 22px;
    text-align: left;
}

.col4_4 h3 {
    color: #384354;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
}

.col4_4 p {
	line-height: 22px;
    font-size: 18px;
    color: #484848;
    text-align: justify;
}

.col3_4 input {
    border: 2px solid #63b5ae;
    border-radius: 5px;
    background-color: #63b5ae;
    height: 44px;
    width: 200px;
    text-align: center;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
    transition: transform 0.1s !important;
    transform: scale(1);
}

.col3_4 input:hover {
    background: #f79513;
    color: white;
}

.col3_4 input:active {
    transform: scale(1.1);
}


/* КАЛЬКУЛЯТОР*/
.main5 {
	width: 100%;
    height: 950px;
    padding-top: 50px;
    padding-bottom: 50px;
	background: url(../img/bg_price.png) center/cover no-repeat;
	background-attachment: fixed;
}

.row_block5 {
	height: 756px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 20px #eee;
}

.row_block5 h3 {
    line-height: 55px;
    font-size: 18px;
    font-weight: bold;
    color: #1c2534;
}

.row_block5 select {
    height: 57px;
    width: 100%;
    border: 2px solid #eee;
    border-radius: 2px;
    background-color: #eee;
    color: #737373;
    padding: 0px 20px 0px 20px;
}

.row_block5 select:hover {
   border: 3px solid #69fffa
}

.row_block5 select:focus {
	border: 3px solid #5de3de
 }

.col1_5 {
	height: 100px;
}

.col2_5 {
	height: 152px;
}

.col3_5 {
	height: 152px;
}

.col4_5 {
	height: 152px;
	border-bottom: 2px solid #d1d1d1;
}

.col5_5 {
	height: 108px;
}
.col5_5a {
	height: 108px;
}
.col6_5 {
	height: 92px;
	text-align: center;
}

.col1_5 h2{
	font-family: inherit;
	font-weight: 800;
	color: #484848;
	letter-spacing: 1px;
	line-height: 90px;
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.col5_5 input {
    font-size: 16px;
    line-height: 48px;
    width: 100%;
    font-weight: bold;
	padding-left: 2%;
}

.col5_5a input {
    font-size: 16px;
    line-height: 48px;
    width: 100%;
    font-weight: bold;
	text-align: end;
	padding-right: 2%;
}

.col6_5 input {
	margin-top: 15px;
    border: 2px solid #63b5ae;
    border-radius: 5px;
    background-color: #63b5ae;
    height: 44px;
    width: 200px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: transform 0.1s !important;
    transform: scale(1);
}

.col6_5 input:hover {
    background: #f79513;
    color: white;
}

.col6_5 input:active {
    transform: scale(1.1);
}


/* СТАТИСТИКА*/
.main6 {
	width: 100%;
    height: 600px;
	background: url(../img/bg_statistik.png) center/cover no-repeat;

}

.row_block6_1{
	display: flex;
	justify-content: center;
}

.row_block6_2{
	display: flex;
	text-align: center;
	justify-content: center;
}

.row_block6_2 div:hover {
    transform: scale(1.1);
}

.row_block6_2 div:active {
    transform: scale(1.2);
}

.row_block6_2 div {
	transition: transform 0.2s !important;
    transform: scale(1);
}

.row_block6_2 img {
	height: 60px;
}

.col1_6 h2 {
	font-family: inherit;
	font-weight: 800;
	color: #484848;
	font-size: 30px;
	letter-spacing: 2px;
	line-height: 170px;
	text-align: center;
	background: url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png) 50% 80%/72px 4px no-repeat;
}

.row_block6_2 h2 {
	line-height: 70px;
    font-size: 32px;
    text-align: center;
    font-weight: 900;
}

.row_block6_2 .client h2 {
	color: #009fe3;

}

.row_block6_2 .time_work h2 {
	color: #fbd511;

}

.row_block6_2 .project_end h2 {
	color: #39a345;

}

.row_block6_2 .prize_take h2 {
	color: #e8444b;

}

.row_block6_2 h3 {
    font-weight: 500;
    line-height: 24px;
    font-size: 18px;
	color: #484848;
}

.row_block6_3 .client h3 {
	color: #009fe3;

}

.row_block6_3 .time_work h3 {
	color: #fbd511;

}

.row_block6_3 .project_end h3 {
	color: #39a345;

}

.row_block6_3 .prize_take h3 {
	color: #e8444b;

}



.main7 {
    height: 600px;
    width: 100%;
	color: #fff;
}

.row_block7 {
	flex-direction: column;
	align-items: center;
	min-width: 0;
}

.slider2 {
	min-width: 0;
}

.col1_7 {
	display: flex;
	justify-content: center;
}

.col1_7 h2 {
	line-height: 150px;
	font-family: inherit;
	font-weight: 800;
	color: #484848;
	font-size: 30px;
	letter-spacing: 2px;
	text-align: center;
	background: url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png) 50% 80%/72px 4px no-repeat;
}



.col2_7 {
	width: 200px;
	height: 200px;
	flex-basis: 200px;
}

.col2_7 img {
	height: 180px;
	width: 180px;
	transition: transform 0.2s;
    transform: scale(1);
    border-radius: 50%;
background: linear-gradient(145deg, #f0f0f0, #cacaca);
box-shadow:  10px 10px 20px #b3b3b3,
             -10px -10px 20px #ffffff;
}

.col2_7 img:hover {
    transform: scale(1.05);
}

.col3_7 {
	height: 72px;
}
.col3_7 p{
	line-height: 20px;
    font-size: 18px;
    text-align: center;
    color: #484848;
}

.col4_7 h4 {
	text-align: center;
    color: #484848;
    line-height: 16px;
    font-size: 18px;
	margin-top: 15px;
}

/* СЛАЙД РАЗДЕЛА ОТЗЫВЫ */
.slider2{
	position: relative;
}
.slick-list {
	overflow: hidden;
}

.draggable {
	padding-top: 10px;
}

.slider2 .slick-track{
	display: flex;
}
.slider2 .slick-arrow{
	position: absolute;
	top: 50%;
	z-index: 10;
	font-size: 0;
}
.slider2 .slick-arrow.slick-prev{
	left: 0;
}
.slider2 .slick-arrow.slick-next{
	right: 0;
}
.slider2 .slick-dots{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin-top: 30px;
}
.slider2 .slick-dots li{
	list-style: none;
	margin: 0 10px;
}
.slider2 .slick-dots li button{
	font-size: 0;
	border-radius: 50%;
	height: 10px;
	width: 10px;
	background-color: #beb7af;
}
.slider2 .slick-dots li.slick-active button{
	background-color: #f79513;
	border-color: #f79513;
}

.slider2 .slider_item {
	opacity: 0.4;
	transition: all 0.3s ease 0.3s;
}
.slider2 .slider_item.slick-center {
	opacity: 1;
}




.footer {
    width: 100%;
    height: 1010px;
}

.main8 {
	width: 100%;
    height:950px;
    background: url(../img/bg_contact2.png) center/cover no-repeat;
	background-attachment: fixed;
}

.row_block8_1 {
	height: 240px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.col1_8 h2 {
	line-height: 130px;
	text-align: center;
	font-family: inherit;
	font-weight: 800;
	color: #484848;
	font-size: 30px;
	letter-spacing: 2px;
    background: url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png) 50% 85%/72px 4px no-repeat;
}

.col2_8 {
	height: 80px;
}

.col2_8 p{
	padding-top: 5%;
	line-height: 14px;
    font-size: 22px;
    text-align: center;
    color: #484848;
	font-weight: 600;
}

.row_block8_2 {
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.row_block8_2 img {
	height: 30px;
}

.col3_8{
    transition: transform 0.2s !important;
    transform: scale(1);
}

.col3_8 a{
	color: #484848;
	text-decoration: none;
}

.col3_8:hover {
    transform: scale(1.08);
}

.col3_8:active {
    transform: scale(1.15);
}

.col4_8{
    transition: transform 0.2s !important;
    transform: scale(1);
}

.col4_8 a{
	color: #484848;
	text-decoration: none;
}

.col4_8:hover {
    transform: scale(1.08);
}

.col4_8:active {
    transform: scale(1.15);
}

.col5_8{
    transition: transform 0.2s !important;
    transform: scale(1);
}

.col5_8 a{
	color: #484848;
	text-decoration: none;
}

.col5_8:hover {
    transform: scale(1.08);
}

.col5_8:active {
    transform: scale(1.15);
}

.row_block8_2 h4 {
	padding-top: 12px;
	font-size: 18px;
    color: #484848;
    text-align: center;
    line-height: 14px;
	font-weight: 600;
}

.row_block8_3 {
	display: flex;
	justify-content: center;
	-webkit-animation: TCallmove 1s ease forwards;
    -o-animation: TCallmove 1s ease forwards;
    animation: TCallmove 1s ease forwards;
    -webkit-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
    opacity: 0;
}

.row_block8_3 h3 {
	font-size: 18px;
    line-height: 50px;
    color: #484848;
    font-weight: bold;
    text-align: center
}

.title__container8 form {
	width: 100%;
}

.col7_8 {
	height: 60px;
}

.col7_8 input {
	padding: 2%;
	height: 100%;
	width: 100%;
	transition: transform 0.2s;
    transform: scale(1);
}

.col7_8 input:hover {
    transform: scale(1.03);
	border: 3px solid #69fffa;
}

.col7_8 input:focus {
    border: 3px solid #5de3de;
}

.col8_8 {
	height: 60px;
}

.col8_8 input {
	padding: 2%;
	height: 100%;
	width: 100%;
	transition: transform 0.2s;
    transform: scale(1);
}

.col8_8 input:hover {
    transform: scale(1.03);
	border: 3px solid #69fffa;
}
.col8_8 input:focus {
    border: 3px solid #5de3de;
}


.row_block8_5 {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.col9_8 {
	height: 190px;
}


.col9_8 textarea {
	padding: 1%;
	height: 80%;
	width: 100%;
	transition: transform 0.2s;
    transform: scale(1.0);
    position: relative;
}

.col9_8 textarea:hover {
    transform: scale(1.02);
	border: 3px solid #69fffa;
}

.col9_8 textarea:focus {
    border: 3px solid #5de3de;
}

.col10_8 {
	text-align: center;
	height: 112px;
}

.col10_8 input {
	color: #272727;
    background: none;
    font-size: 16px;
    height: 40%;
    width: 50%;
    border: 2px solid #272727;
    border-radius: 5px;
    font-weight: 600;
    transition: all 0.1s;
    transform: scale(1);
}

.col10_8 input:hover {
    background: #484848;
    color: #ddc5a2;
}

.col10_8 input:active {
    transform: scale(1.1);
}





.main9 {
	width: 100%;
}

.row_block9_1 {
	display: flex;
	flex-direction: column;
}


.col2_9 {
    width: 100%;
    height: 60px;
    background: #272727;
}

.col2_9 h4 {
	font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 60px;
	letter-spacing: 2px;
    word-spacing: -.4ch;
}



